## Setup

In [199]:
# Import Libraries
import time
from datetime import datetime
from splinter import Browser
from bs4 import BeautifulSoup as bs
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

### Get the Summary Table

In [200]:
# start web browser
browser = webdriver.Chrome(ChromeDriverManager().install())

# get source code
browser.get("https://au.finance.yahoo.com/quote/CBA.AX?p=CBA.AX")
html = browser.page_source
time.sleep(2)
df = pd.read_html(html)

# close web browser
browser.close()

[WDM] -

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 95.0.4638
[WDM] - Get LATEST driver version for 95.0.4638
[WDM] - Driver [C:\Users\James\.wdm\drivers\chromedriver\win32\95.0.4638.17\chromedriver.exe] found in cache

In [201]:
# Get each table from the table list
summary_table_1 = df[0]
summary_table_2 = df[1]
# Join the tables together
total_summary_table = summary_table_1.append(summary_table_2)
# Rename the columns
total_summary_table = total_summary_table.rename(columns = {0:'Summary Metric', 1:'Value'})
# Show result
total_summary_table

             Summary Metric            Value
0            Previous close           105.46
1                      Open           105.55
2                       Bid   105.29 x 36400
3                       Ask    105.31 x 7100
4               Day's range  105.11 - 106.00
5             52-week range   66.04 - 109.03
6                    Volume           773880
7               Avg. volume          2852078
0                Market cap         186.619B
1         Beta (5Y monthly)             0.64
2            PE ratio (TTM)            19.50
3                 EPS (TTM)             5.40
4             Earnings date      10 Aug 2021
5  Forward dividend & yield     4.00 (3.79%)
6          Ex-dividend date      17 Aug 2021
7             1y target est            95.82

## Income statement table

#### Extract

In [204]:
# Read the tables in the HTML page
# Scrape the Data
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

url = 'https://au.finance.yahoo.com/quote/CBA.AX/financials?p=CBA.AX'
browser.visit(url)

time.sleep(1)

html = browser.html
soup = bs(html, "html.parser")

# Get table headers
income_table_headers = soup.find_all('div', class_='D(tbr) C($primaryColor)')
# Get table rows
income_table_rows = soup.find_all('div', class_='D(tbr) fi-row Bgc($hoverBgColor):h')

# Quit the browser
browser.quit()

# Get the table headers
table_headers_list = []
for header in income_table_headers:
    for span in header.find_all('span'):
        table_headers_list.append(span.text)

# Get all the table rows
table_rows = []
row_list = []
for rows in income_table_rows:
    for fields in rows:
        row_list.append(fields.text)
    # Add row to table rows
    table_rows.append(row_list)
    # Reset the row list for the next row
    row_list = []
    
# Convert the result into a DataFrame
income_table = pd.DataFrame(table_rows, columns=table_headers_list)
income_table

[WDM] -

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 95.0.4638
[WDM] - Get LATEST driver version for 95.0.4638
[WDM] - Driver [C:\Users\James\.wdm\drivers\chromedriver\win32\95.0.4638.17\chromedriver.exe] found in cache

,Breakdown,ttm,29/06/2021,29/06/2020,29/06/2019,29/06/2018
0,Total revenue,"24,085,000","24,085,000","24,185,000","24,546,000","25,709,000"
1,Operating expenses,,,,,
2,Selling general and administrative,"940,000","940,000","828,000","943,000","1,159,000"
3,Total operating expenses,"11,746,000","11,746,000","11,290,000","11,922,000","10,776,000"
4,Interest expense,"5,819,000","5,819,000","11,552,000","16,468,000","16,202,000"
5,Income before tax,"12,375,000","12,375,000","10,479,000","11,763,000","13,420,000"
6,Income tax expense,"3,532,000","3,532,000","3,020,000","3,391,000","4,026,000"
7,Income from continuing operations,"8,843,000","8,843,000","7,459,000","8,372,000","9,394,000"
8,Net income,"10,181,000","10,181,000","9,634,000","8,571,000","9,329,000"
9,Net income available to common shareholders,"10,181,000","10,181,000","9,634,000","8,571,000","9,329,000"
10,Basic EPS,-,-,5.45,4.86,5.34
11,Diluted EPS,-,-,5.23,4.69,5.18
12,Basic average shares,-,-,"1,768,000","1,765,000","1,746,000"
13,Diluted average shares,-,-,"1,895,000","1,897,000","1,852,000"

#### Transform

## Get the Balance Sheet statement table

In [18]:
# Read the tables in the HTML page
# Scrape the Data
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

url = 'https://au.finance.yahoo.com/quote/CBA.AX/balance-sheet?p=CBA.AX'
browser.visit(url)

time.sleep(1)

html = browser.html
soup = bs(html, "html.parser")

# Get table headers
balance_sheet_table_headers = soup.find_all('div', class_='D(tbr) C($primaryColor)')
# Get table rows
balance_sheet_rows = soup.find_all('div', class_='D(tbr) fi-row Bgc($hoverBgColor):h')

# Quit the browser
browser.quit()

[WDM] -

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 95.0.4638
[WDM] - Get LATEST driver version for 95.0.4638
[WDM] - Driver [C:\Users\James\.wdm\drivers\chromedriver\win32\95.0.4638.17\chromedriver.exe] found in cache

In [196]:
# Get the table headers
table_headers_list = []
for header in balance_sheet_table_headers:
    for span in header.find_all('span'):
        table_headers_list.append(span.text)

        
# Get all the table rows
table_rows = []
row_list = []
for rows in balance_sheet_rows:
    for fields in rows:
        row_list.append(fields.text)
    # Add row to table rows
    table_rows.append(row_list)
    # Reset the row list for the next row
    row_list = []
    
# Convert the result into a DataFrame
balance_sheet_table = pd.DataFrame(table_rows, columns=table_headers_list)
balance_sheet_table

,Breakdown,29/06/2021,29/06/2020,29/06/2019,29/06/2018
0,Assets,,,,
1,Total assets,"1,091,962,000","1,014,060,000","976,502,000","975,165,000"
2,Liabilities and stockholders' equity,,,,
3,Liabilities,,,,
4,Total liabilities,"1,013,244,000","942,047,000","906,853,000","907,305,000"
5,Stockholders' equity,,,,
6,Common stock,"38,546,000","38,282,000","38,283,000","37,535,000"
7,Retained earnings,"37,044,000","31,211,000","28,482,000","28,360,000"
8,Accumulated other comprehensive income,-,"2,666,000","3,092,000","1,676,000"
9,Total stockholders' equity,"78,713,000","72,008,000","69,594,000","67,306,000"
10,Total liabilities and stockholders' equity,"1,091,962,000","1,014,060,000","976,502,000","975,165,000"

## Get the Cash Flow table

## Transform the data

In [197]:
cashflow_table_2020to21 = cashflow_table[['Breakdown','29/06/2021']].copy()

# Find all the categories and put them in a list
categories = cashflow_table_2020to21.loc[(cashflow_table['29/06/2021']==""),'Breakdown']
categories_list = list(categories)


cashflow_table_new = cashflow_table.copy()

# Assign them to a column
cashflow_table_new.at[1:3, 'Category']=categories_list[0]
cashflow_table_new.at[5:8, 'Category']=categories_list[1]
cashflow_table_new.at[10:18, 'Category']=categories_list[2]
cashflow_table_new.at[20:, 'Category']=categories_list[3]

# drop rows with NAs
# cashflow_table_new = cashflow_table_new.dropna().set_index('Category')
# cashflow_table_new
# Divide into different rows
cashflow_table_new_202021 = cashflow_table_new[['Breakdown','29/06/2021']].set_index('Category').dropna()
cashflow_table_new_202021

,Breakdown,29/06/2021
Category,,
NaN,Cash flows from operating activities,
Cash flows from operating activities,Net income,"10,181,000"
Cash flows from operating activities,Other working capital,"40,545,000"
Cash flows from operating activities,Net cash provided by operating activities,"41,312,000"
NaN,Cash flows from investing activities,
Cash flows from investing activities,"Investments in property, plant and equipment","-767,000"
Cash flows from investing activities,"Acquisitions, net","-121,000"
Cash flows from investing activities,Purchases of investments,-
Cash flows from investing activities,Net cash used for investing activities,"871,000"
NaN,Cash flows from financing activities,
Cash flows from financing activities,Debt repayment,"-52,166,000"
Cash flows from financing activities,Common stock issued,"5,000"
Cash flows from financing activities,Common stock repurchased,"-71,000"
Cash flows from financing activities,Dividends paid,"-4,132,000"
Cash flows from financing activities,Other financing activities,"153,000"
Cash flows from financing activities,Net cash used provided by (used for) financing...,-
Cash flows from financing activities,Net change in cash,"60,494,000"
Cash flows from financing activities,Cash at beginning of period,"27,351,000"
Cash flows from financing activities,Cash at end of period,"87,380,000"
NaN,Free cash flow,
Free cash flow,Operating cash flow,"41,312,000"
Free cash flow,Capital expenditure,"-767,000"
Free cash flow,Free cash flow,"40,545,000"

## Load into Mongodb

In [188]:
# Load Into Mongodb
import pymongo
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

cashdflow2020to21 = cashflow_table_2020to21.to_dict()
cashdflow2020to21
client.CBA_db.balance_sheet.update({}, cashdflow2020to21 , upsert=True)

<ipython-input-188-8e043fe4eb17>:8: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  client.CBA_db.balance_sheet.update({}, cashdflow2020to21 , upsert=True)

InvalidDocument: documents must have only string keys, key was 0

## Get the Financial Data from a selected date to the present day

In [51]:
# Get the current time in unixtime format
d = datetime.today()
unixtime = time.mktime(d.timetuple())
starting_date = round(time.mktime(datetime.strptime("30/06/2017", "%d/%m/%Y").timetuple()))
current_time = round(unixtime)

# Change the download directory
chromeOptions = webdriver.ChromeOptions()
prefs = {"download.default_directory" : "C:\\Users\\James\\Desktop\\test"}
chromeOptions.add_experimental_option("prefs",prefs)
driver = webdriver.Chrome(executable_path=ChromeDriverManager().install(), options=chromeOptions)

# Get the CSV file
url = f'https://query1.finance.yahoo.com/v7/finance/download/CBA.AX?period1={starting_date}&period2={current_time}&interval=1d&events=history&includeAdjustedClose=true'
driver.get(url)

time.sleep(1)

# Quit the browser
browser.quit()

[WDM] -

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 95.0.4638
[WDM] - Get LATEST driver version for 95.0.4638
[WDM] - Driver [C:\Users\James\.wdm\drivers\chromedriver\win32\95.0.4638.17\chromedriver.exe] found in cache